body{

    font-family: "Outfit", serif;
}

.bg-dark
{
    background-color: #000 !important;
}

a
{
    text-decoration: none;
}

.navbar-brand img
{
    width: 40px;
}

.btn-primary
{
    background-color: #17452D;
    border: solid 1px #17452D;
    color: #FFF;
    border-radius: 15px;
    --bs-btn-hover-bg: #43AD54;
    --bs-btn-hover-border-color: #43AD54;
    --bs-btn-active-bg: #43AD54;
}


.btn-secondary
{
    background-color: #FF8515;
    border: solid 1px #FF8515;
    color: #FFF;
    border-radius: 15px;
    --bs-btn-hover-bg: #B26621;
    --bs-btn-hover-border-color: #B26621;
    --bs-btn-active-bg: #B26621;
}

.m-izq-boton
{
    margin-left: 50px;
    width: 145px;
}

#navbarNav

{
    justify-content: center;

}

#logo
{
    position: absolute;
    width: 28%;
    top: 5%;
    left: 10%;
    z-index: 1000;
}

#logo img
{
    width: 100%;
}

@media only screen and (max-width: 575px)
{

    .navbar-brand
    {
        margin-left: 16px;
    }

    #flechaIzquierda
    {
        height: 30px;
    }

    #flechaDerecha
    {
        height: 30px;
    }

    .izq
    {
        background-image: none !important;
    }

    .der
    {
        background-image: none !important;
    }

  
}

#nosotros
{
 
    background-color: #FFF;
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn-outline-primary
{
    background-color: transparent;
    border: solid 1px #B26621;
    color: #B26621;
    font-weight: 500;
    border-radius: 15px;
    --bs-btn-hover-bg: #B26621;
    --bs-btn-hover-border-color: #B26621;
    --bs-btn-active-bg: #B26621;
}

.boton-derecha
{
    text-align: right;
}
.boton-center
{
    text-align: center;
}
.boton-right
{
    text-align: right;
}
.boton-left
{
    text-align: left;
}


.titulo-nosotros
{
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 40px;
    color: #17452D;
}

.img-circular
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Principal/nosotros.jpg);
    background-position: center;
    background-size: cover;
}


@media only screen and (max-width: 575px){
    .img-circular
    {
        width: 100%;
    }
}

.img-carolina
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Nosotros/Caro.jpg);
    background-position: center;
    background-size: cover;
}

.img-rafael
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Nosotros/Rafael.JPG);
    background-position: center;
    background-size: cover;
}
.img-daniela
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Nosotros/Dani.jpg);
    background-position: center;
    background-size: cover;
}


.texto-nosotros
{
    line-height: 2;
    padding: 20px;
    font-family: "Raleway", serif;
    font-size: 18px;
    font-weight: 400;
}



.izq
{
    background-image: url(../img/logo_izq20.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.der
{
    background-image: url(../img/logo_der20.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#clases
{
    /* height: 80vh; */
    background-color: #000;
    padding-top: 90px;
    padding-bottom: 90px;
}

.card-clases
{
    width: 230px;
    height: 560px;
    border-radius: 15px;
    background-color: #000;
    margin: 0 auto;
}

.card-clases-movil
{
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color: #000;
    margin-bottom: 40px;
}

.clase-grupal
{
    background-image: url(../img/Galeria/SHOW/show1.jpg);
    background-size: cover;
    background-position: center;
}


.clase-particulares
{
    background-image: url(../img/Galeria/SHOW/show2.jpg);
    background-size: cover;
    background-position: center;
}

.clase-talleres
{
    background-image: url(../img/Galeria/SHOW/show3.jpg);
    background-size: cover;
    background-position: center;
}

.clase-milongas
{
    background-image: url(../img/Galeria/SHOW/show4.jpg);
    background-size: cover;
    background-position: center;
}

.gal-familia
{
    background-image: url(../img/Galeria/fliatanguera.jpg);
    background-size: cover;
    background-position: center;
}

.gal-milonga
{
    background-image: url(../img/Galeria/milongas.jpg);
    background-size: cover;
    background-position: center;
}

.gal-show
{
    background-image: url(../img/Galeria/tangoshow.jpg);
    background-size: cover;
    background-position: center;
}

.tar-video
{
    background-image: url(../img/Galeria/VIDEOS/VIDEOS1.jpg);
    background-size: cover;
    background-position: center;
}

.tar-proxi
{
    background-image: url(../img/Galeria/VIDEOS/VIDEOS2.jpg);
    background-size: cover;
    background-position: center;
}

.capa
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.capa-movil
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.capa:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}

.capa:hover div
{
    font-size: 45px;
}

.capa-movil:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}


.texto-tarjeta-moviles
{
    font-weight: 800;
    font-size: 25px;
    color: #FFF;
    
}

.texto-tarjeta-grupales
{
    position: absolute;
    font-weight: 800;
    font-size: 40px;
    left: -70%;
    top: 45%;
    width: 560px;
    font-size: 40px;
    color: #FFF;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
}


.texto-tarjeta-particulares
{
    position: absolute;
    font-weight: 800;
    font-size: 40px;
    left: -70%;
    top: 45%;
    width: 560px;
    font-size: 40px;
    color: #FFF;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.texto-tarjeta-talleres
{
    position: absolute;
    font-weight: 800;
    font-size: 40;
    left: -70%;
    top: 45%;
    width: 560px;
    font-size: 40px;
    color: #FFF;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.texto-tarjeta-milongas
{
    position: absolute;
    font-weight: 800;
    font-size: 40;
    left: -70%;
    top: 45%;
    width: 560px;
    font-size: 40px;
    color: #FFF;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tango
{
    background-color: #FFF;
    padding-top: 90px;
    padding-bottom: 90px;
}

.texto-tango
{
    margin-bottom: 60px;
    font-weight: 800;
    font-family: "Raleway", serif;
    font-size: 40px;
    

}

.img-circular-1
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Principal/pareja-rojo.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


.img-circular-2
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Principal/pareja-negro.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media only screen and (max-width: 575px){
    .img-circular-1
    {
        width: 100%;
    }

    .img-circular-2
    {
        width: 100%;
    }
}


.texto-nombre
{
    margin-bottom: 60px;
    font-weight: 600;
}


#programa
{
    background-color: #000;
    padding-top: 90px;
    padding-bottom: 90px;
    color: #FFF !important;
    background-image: url(../img/Principal/acordeon.jpg);
    background-size: cover;
    background-position: center;
}

.izquierda
{
    text-align: left;
    padding-left: 40px;
}

.derecha
{
    text-align: right;
    padding-right: 40px;
}

.fila
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.fondo-prog
{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    padding-top: 85px;
    padding-bottom: 85px;
}

footer
{
    background-color: #000;
    padding: 45px;
    font-size: 16px;
    border-top: solid 2px orange;
}

.enlaces-blanco
{
    color: #FFF !important;
}

.blancos
{
    color: #FFF !important;
}


.texto-verde
{
    color: #17452D !important;
    font-weight: 800;
    
}

.texto-verde-claro
{
    color: #93EEBF !important;
    font-weight: 800;
    
}

.texto-cafe
{
    color: #B26621;
}

.texto-blanco
{
    color: #fff;
    font-weight: 800;
}

.texto-naranja
{
    color: #FF8515;
    font-weight: 800;
}


.logo-footer
{
    width: 30px;
    margin: 10px;
}

.espacio-footer
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.info
{
    font-size: 24px;
}

.hero
{
    background-color: #000;
}

.tarjeta-nosotros
{
    background-color: #17452D;
    padding: 60px;
    color: white !important;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 60px;
}

.tarjeta-nosotros p
{
    font-size: 18px;
    font-family: Raleway;
    line-height: 2;
    text-align: left;
}

.tarjeta-nosotros h1
{
    margin-bottom: 50px;
    font-weight: 800;
}

#nosotros-personas
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.titulo-separacion
{
    margin-top: 100px;
}

.hero
{
    padding-top: 60px !important;
}

.tarjeta-foto-1
{
    background-color: #000;
    width: 300px;
    height: 160px;
    border-radius: 20px;
    padding: 12px;
    border: solid 1px #B26621;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-transform: rotate(-15deg); 
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.recuadro-1
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS1.JPG);
    background-size: cover;
    background-position: center;
}

.tarjeta-foto-2
{
    background-color: #000;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 12px;
    border: solid 1px #B26621;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-transform: rotate(15deg); 
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}

.cuadro-2
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS2.jpg);
    background-size: cover;
    background-position: center;
}

.tarjeta-foto-3
{
    background-color: #000;
    width: 300px;
    height: 160px;
    border-radius: 20px;
    padding: 12px;
    border: solid 1px #B26621;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-transform: rotate(-15deg); 
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.tarjeta-foto-3-movil-1
{
    background-color: #000;
    width: 100px;
    height: 60px;
    border-radius: 20px;
    padding: 3px;
    border: solid 1px #B26621;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-transform: rotate(-15deg); 
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.tarjeta-foto-3-movil-2
{
    background-color: #000;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    padding: 3px;
    border: solid 1px #B26621;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-transform: rotate(15deg); 
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}

.tarjeta-foto-3-v2
{
    background-color: #000;
    width: 300px;
    height: 160px;
    border-radius: 20px;
    padding: 12px;
    border: solid 1px #B26621;
    margin: 0 auto;
    margin-bottom: 60px;
}

.recuadro-3
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS3.jpg);
    background-size: cover;
    background-position: center;
}


.recuadro-4
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS4.jpg);
    background-size: cover;
    background-position: center;
}

.cuadro-5
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS5.jpg);
    background-size: cover;
    background-position: center;
}

.recuadro-6
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS6.jpg);
    background-size: cover;
    background-position: center;
}

.cuadro-6
{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    border: solid 1px #B26621;
    background-image: url(../img/Nosotros/NOS6.jpg);
    background-size: cover;
    background-position: center;
}

.tarjeta-grupo
{
    height: 180px;
    width: 100%;
    border-radius: 15px;
    background-color: #000;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 20px;
}

.layer
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.texto-tarjeta
{
    color: white;
    font-size: 48px;
    line-height: 350px;
    font-weight: 800;
    text-align: center;
}

.tarjeta-cero
{
    background-image: url(../img/Actividades/clasesTangoCero.JPG);
    background-size: cover;
    background-position: center;
}

.tarjeta-salon
{
    background-image: url(../img/Actividades/clasesTangoSalon.jpg);
    background-size: cover;
    background-position: center;
}

.tarjeta-milonga
{
    background-image: url(../img/Actividades/clasesMilonga.jpg);
    background-size: cover;
    background-position: center;
}

.tarjeta-escenario
{
    background-image: url(../img/Actividades/claseEscenario.jpg);
    background-size: cover;
    background-position: center;
}

.titulo-grupo
{
    margin-top: 66px;
    margin-bottom: 60px;
}

#seccion-nivel
{
    background-color: #17452D;
    height: 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white !important;
}

.circulo-1
{
    width: 10px;
    height: 10px;
    background-color: #93EEBF;
    border-radius: 50%;
    display: inline-block;
}

.circulo-2
{
    width: 10px;
    height: 10px;
    background-color: #FFCEA1;
    border-radius: 50%;
    display: inline-block;
}

.circulo-3
{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.m-peq
{
    padding-top: 12px;
}


#horarios
{
    background-color: #FCEEDE;
    padding-top: 60px;
    /* padding-bottom: 60px; */
}


.table
{
    border-collapse: collapse;
    margin-bottom: 0;
    background-color: transparent;
    --bs-table-bg: transparent;
}


.table th,
.table td {
  border: 2px solid green;
  padding: 10px;
  text-align: center;
  font-family: "Raleway", serif ;
}

.tabla-contenedor {
    border: 2px solid green;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
  }



.titulos-tabla
{
    color: #17452D !important;
    font-family: "Raleway", serif ;
}

.alto-tabla
{
    height: 150px;
    
}

.espacio-titulo
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.icono
{
    width: 40px;
    margin: 30px;
}

#seccion-nivel-o
{
    background-color: #17452D;
    height: 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white !important;
}

#nosotros-info
{
    background-color: #FFF;
    padding-top: 90px;
    padding-bottom: 90px;
}

.separacion
{
    margin-top: 100px;
}

#milongas
{
    background-color: #000;
    margin-top: 100px;
    padding: 100px;
}

.card-milonga
{
    width: 100%;
    height: 800px;
    background-color: #B26621;
    border-radius: 60px;
    background-image: url(../img/Actividades/MILONGAS.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) contrast(150%);
}

.centro
{
    padding-top: 200px;
}

.pos h2
{
    font-size: 60px;
    text-align: center;
}

.pos p
{
    line-height: 1.5;
    text-align: left;
    padding: 25px;
    color: #FFF;
    font-size: 18px;
}

.sepa
{
    margin-top: 50px;
    margin-bottom: 20px;
}

.division
{
    padding-top: 35px;
    padding-bottom: 35px;
}

#formulario
{
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/Principal/acordeon.jpg);
    background-size: cover;
    background-position: center;

}

.titulo-form
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-control
{
    background-color: #D9D9D9 !important;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-fondo
{
    /* background-color: rgba(0, 0, 0, 0.9); */
    padding: 35px;
}

::placeholder {
    color: #B26621;
    opacity: 1;
  }


  #info
  {
    margin-bottom: 60px;
  }



  #galeria
  {
    background-color: #000;
    padding-bottom: 130px;
  }

  .btn-izq
  {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
  }

  .btn-der
  {
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .btn-gal-activo
  {
    background-color: #17452D;
  }

  .tarjeta-galeria
  {
    width: 100%;
    height: 600px;
    background-image: url(../img/pareja-rojo.jpg);
    border: solid 1px #B26621;
    border-radius: 15px;
    cursor: pointer;
  }

  .tarjeta-video
  {
    width: 100%;
    height: 300px;
    background-image: url(../img/Galeria/VIDEOS/VIDEOS1.jpg);
    background-size: cover;
    background-position: center;
    border: solid 1px #B26621;
    border-radius: 15px;
  }

  .tarjeta-proxi
  {
    width: 100%;
    height: 300px;
    background-image: url(../img/Galeria/VIDEOS/VIDEOS2.jpg);
    background-size: cover;
    background-position: center;
    border: solid 1px #B26621;
    border-radius: 15px;
  }

.hoja
{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.hoja:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

.texto-galeria
{
    color: white;
    font-size: 48px;
    line-height: 300px;
    text-align: center;
}

.galeria-familia
{
    background-image: url(../img/Galeria/fliatanguera.jpg);
    background-size: cover;
    background-position: center;
}
.galeria-milonga
{
    background-image: url(../img/Galeria/milongas.jpg);
    background-size: cover;
    background-position: center;
}
.galeria-show
{
    background-image: url(../img/Galeria/tangoshow.jpg);
    background-size: cover;
    background-position: center;
}


#imagenes, #videos
{
    background-color: #000;
}

#btnNosotros
{
    text-align: right;
}

#clases
{
    /* background-image: url(../img/logo_izq.svg), url(../img/logo_der.svg);
    background-position: left, right;
    background-size: 200px;
    background-repeat: repeat-y; */
}

.linea-vertical
{
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #93EEBF;
    opacity: 0.4;
}

.titulo-milongas
{
    text-shadow: 15px 15px 3px rgba(0, 0, 0, 0.5);
}

.m-1
{
    margin: 10px !important;
}
.m-2
{
    margin: 20px !important;
}
.m-3
{
    margin: 30px !important;
}
.m-4
{
    margin: 40px !important;
}

.espacio-galeria
{
    padding: 70px;
}

.texto-izquierda
{
    text-align: left !important;
}

.texto-derecha
{
    text-align: right !important;
}

.botones-galeria
{
    padding: 20px;
}

.img-galeria
{
    width: 100%;
}

#btnIzquierda
{
    cursor: pointer;
}

#btnIzquierdaMilongas
{
    cursor: pointer;
}

#btnIzquierdaGira
{
    cursor: pointer;
}

#btnIzquierdaNoche
{
    cursor: pointer;
}

#btnIzquierdaShow
{
    cursor: pointer;
}

#btnIzquierdaBarrio
{
    cursor: pointer;
}

#btnIzquierdaVideoShow
{
    cursor: pointer;
}

#btnIzquierdaVideoProx
{
    cursor: pointer;
}


#btnDerecha
{
    cursor: pointer;
}

#btnDerechaMilongas
{
    cursor: pointer;
}

#btnDerechaGira
{
    cursor: pointer;
}

#btnDerechaNoche
{
    cursor: pointer;
}

#btnDerechaShow
{
    cursor: pointer;
}

#btnDerechaBarrio
{
    cursor: pointer;
}

#btnDerechaVideoShow
{
    cursor: pointer;
}

#btnDerechaVideoProx
{
    cursor: pointer;
}

#btnVolver
{
    margin-top: 7px;
}

.privacidad:hover
{
    color: #93EEBF;
    cursor: pointer;
}

.terminos:hover
{
    color: #93EEBF;
    cursor: pointer;
}


@media only screen and (max-width: 575px){
    .footer-movil
    {
        text-align: center;
    }

    .btn-movil
    {
        width: 100%  !important;
        margin: 0;
        border-radius: 0;
        border-bottom: solid 1px #43AD54;
    }

    .img-carolina
    {
        width: 100%;
    }

    .img-rafael
    {
        width: 100%;
    }

    .img-daniela
    {
        width: 100%;
    }

    #milongas
    {
        padding: 0;
    }

    .movil-emer
    {
        display: none;
    }

    .img-circular-actividades-1
    {
        width: 300px !important;
        height: 300px !important;
    }
    
    .img-circular-actividades-2
    {
        width: 100% !important;
    }

    .carousel-inner
    {
        height: 100%;
    }

    .carousel-item
    {
        height: 100%;
    }

    
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .btn-movil
    {
        width: 80%  !important;
    }
    .movil-emer
    {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .btn-movil
    {
        width: 80%  !important;
    }
    .movil-emer
    {
        display: none;
    }
}


/* .m-izq-boton
    {
        width: 80%;
    } */


.cirdulo-verde
{
    width: 15px;
    height: 15px;
    background-color: #93EEBF;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
}

.cirdulo-naranja
{
    width: 15px;
    height: 15px;
    background-color: orange;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
}

.cirdulo-blanco
{
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 15%;
    border-radius: 50%;
}



.texto-clases
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-circular-com1
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Companias/ciaescenario.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.img-circular-com2
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Companias/ciasalon.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


.img-circular-com3
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Companias/ciafem.JPG);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


@media only screen and (max-width: 575px){
    
    .img-circular-com1
    {
        width: 300px;
        height: 300px;
    }

    .img-circular-com2
    {
        width: 300px;
        height: 300px;
    }

    .img-circular-com3
    {
        width: 100%;
    }

    #seccion-nivel
    {
        height: 11vh;
    }

    #seccion-nivel-o
    {
        height: 11vh;
    }

    #NosotrosMovil {
        display: block;
    }

    #NosotrosEscritorio {
        display: none;
    }

    #galeria-movil
    {
        display: block;
    }

    #galeria-escritorio
    {
        display: none;
    }

    #clases-movil
    {
        display: block;
    }

    #clases-escritorio
    {
        display: none;
    }

    .espacio-verde
    {
        display: block;
    }

    .texto-escritorio
    {
        display: none;
    }

    .texto-movil
    {
        display: block;
    }


    .tango-movil
    {
        display: block;
    }

    .tango-escritorio
    {
        display: none;
    }

    .ver-movil
    {
        display: block;
    }
    .ver-escritorio
    {
        display: none;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #NosotrosMovil {
        display: block;
    }

    #NosotrosEscritorio {
        display: none;
    }

    #galeria-movil
    {
        display: none;
    }

    #galeria-escritorio
    {
        display: block;
    }

    #clases-movil
    {
        display: none;
    }

    #clases-escritorio
    {
        display: block;
    }

    .espacio-verde
    {
        display: none;
    }

    .texto-escritorio
    {
        display: block;
    }

    .texto-movil
    {
        display: none;
    }

    .tango-movil
    {
        display: none;
    }

    .tango-escritorio
    {
        display: block;
    }
    .ver-movil
    {
        display: none;
    }
    .ver-escritorio
    {
        display: block;
    }

}

@media only screen and (min-width: 768px) {
    #NosotrosMovil {
        display: none;
    }

    #NosotrosEscritorio {
        display: block;
    }

    #galeria-movil
    {
        display: none;
    }

    #galeria-escritorio
    {
        display: block;
    }

    #clases-movil
    {
        display: none;
    }

    #clases-escritorio
    {
        display: block;
    }

    .espacio-verde
    {
        display: none;
    }

    .texto-escritorio
    {
        display: block;
    }

    .texto-movil
    {
        display: none;
    }

    .tango-movil
    {
        display: none;
    }

    .tango-escritorio
    {
        display: block;
    }

    .ver-movil
    {
        display: none;
    }
    .ver-escritorio
    {
        display: block;
    }

}


#PantallaMaria
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
}

#PantallaMariaMovil
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    display: none;
}

#PantallaErwin
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;
}

#PantallaErwinMovil
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    display: none;
}

.contenidoMaria
{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
}

.contenidoMariaMovil
{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 40%;
    background-color: black;
    /* background-image: url(../img/Principal/exp_individual1.jpg); */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoErwin
{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
}

.contenidoErwinMovil
{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 40%;
    background-color: black;
    /* background-image: url(../img/Principal/exp_individual1.jpg); */
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-modal
{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.img-circular-modal-1
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Principal/exp_individual1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.img-circular-modal-1:hover
{
    filter: grayscale(100%);
}

.img-circular-modal-1:hover #txtMaria
{
    display: block !important;
}

.img-circular-modal-2:hover
{
    filter: grayscale(100%);
}

.img-circular-modal-2:hover #txtErwin
{
    display: block !important;
}

.img-circular-modal-2
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Principal/exp_individual2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.parrafo-modal
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 2;
    flex-direction: column;
}

.parrafo-modal-movil
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1.5;
    flex-direction: column;
    color: #93EEBF;
    padding: 40px;
}

#MariaEnlace
{
    cursor: pointer;
}

#ErwinEnlace
{
    cursor: pointer;
}

.texto-imagen
{
    color: white;
    line-height: 2;
    font-size: 18px;
}

.clases-abajo
{
    margin-top: 60px;
    margin-bottom: 60px;
}

.img-circular-actividades-1
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Actividades/PARTICULARES.jpg);
    background-position: center;
    background-size: cover;
}

.img-circular-actividades-2
{
    border-radius: 10%;
    width: 470px;
    height: 470px;
    background-image: url(../img/Actividades/TALLERES.jpg);
    background-position: center;
    background-size: cover;
}

.plantilla
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#txtCero
{
    display: none;
}

#txtSalon
{
    display: none;
}

#txtMilonga
{
    display: none;
}

#txtEscenario
{
    display: none;
}

.texto-actividades
{
    color: white;
    margin: 60px;
    font-size: 22px;
}


.tarjeta-cero:hover #TangoCero
{
    display: none;
}

.tarjeta-cero:hover
{
    filter: grayscale(100%);
}

.tarjeta-cero:hover #txtCero
{
    display: block;
}


.tarjeta-salon:hover #TangoSalon
{
    display: none;
}

.tarjeta-salon:hover
{
    filter: grayscale(100%);
}

.tarjeta-salon:hover #txtSalon
{
    display: block;
}


.tarjeta-milonga:hover #TangoMilonga
{
    display: none;
}

.tarjeta-milonga:hover
{
    filter: grayscale(100%);
}

.tarjeta-milonga:hover #txtMilonga
{
    display: block;
}


.tarjeta-escenario:hover #TangoEscenario
{
    display: none;
}

.tarjeta-escenario:hover
{
    filter: grayscale(100%);
}

.tarjeta-escenario:hover #txtEscenario
{
    display: block;
}

.table th, .table td
{
    padding: 0;
}

.espacio-tabla
{
    position: static;
    width: 100%;
    height: 24px;
    background-color: #17452D;
    bottom: 10px;
    left: 0;
}

.parrafo-tabla
{
    margin: 20px;
}

.card-milonga-principal
{
    width: 100%;
    height: 800px;
    background-color: #B26621;
    border-radius: 60px;
    background-image: url(../img/Actividades/MILONGAS.jpg);
    background-size: cover;
    background-position: center;
}

.compa
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mover-abajo
{
    transform: translateY(70px);
}


.inferior-botones
{
    margin-top: 100px;
}

.espacio-botones
{
    display: flex;
    justify-content: center;
}

#TablaContacto
{
    border: 0;
}

#TablaContacto td
{
    border: 0;
}

#TablaContacto tr
{
    border: 0;
}

.contenido-nosotros
{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 575px)
{

    .texto-nosotros
    {
        line-height: 1.5;
    }
    #nosotros
    {
     
        background-color: #FFF;
        padding-top: 45px;
        padding-bottom: 0px;
    }

    .nosotros-info-movil
    {
        background-color: #FFF;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .caja-movil
    {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .taller-movil
    {
        margin-top: 0 !important;
    }

    .daniela-movil
    {
        margin-top: 0 !important;
    }

    .con-movil
    {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }


    .nos-movil
    {
        font-size: 25px;
    }

    .caj-movil
    {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

}

.red {
    width: 56px;
    height: auto;
}


@media (max-width: 600px) {
    .red {
        width: 48px;
    }
}

.texto-historia
{
    font-weight: 100;
    color: white;
}